<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <%- include('partials/common') %>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/pages/index.css">
</head>
<body>
    <%- include('partials/background') %> 
    <%- include('partials/header') %>
    
    <!-- ----------------------------------------------------------------------- -->
    <!--                                 Content                                 -->
    <!-- ----------------------------------------------------------------------- -->
        
    <!-- Title -->
    <!-- <h1 class="text-center fw-bold title">Sandstorm Station</h1> -->

    <!-- Images Carousel -->
    <div id="server-showcase" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="images/showcase/1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/showcase/2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/showcase/3.png" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

    <!-- Play Button -->
    <div id="play-now" class="text-center overlay-content">
        <h2>Play at Sandstorm Station 13 </h2>
        <a href="byond://78.46.176.30:8100" class="btn btn-lg btn-primary btn-play shadow-lg px-5 py-3">Join Now</a>
    </div>

    
    <br>    

    <!-- Changelog Feed -->
    <!-- <section id="changelog" class="text-center">
        <h2>Latest Changelog</h2>
        <div id="changelog-feed">
            <p>Loading changelogs...</p>
        </div>
    </section> -->

    <!-- ---------------------------------- - ---------------------------------- -->
    <%- include('partials/footer') %>
</body>
</html>



<!-- Collapsible script for dropdown stuff  -->
<script>
var coll = document.getElementsByClassName("collapsible");
var i;
for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight) {
            content.style.maxHeight = null;
        } else {
            content.style.maxHeight = content.scrollHeight + "px";
        }
    });
}
</script>